/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

#content {
  position: relative;
  display: flex;
  height: 100%;
  min-width: 576px;
}

#table {
  width: 60%;
  padding: 1em;
}

#log {
  width: 40%;
  padding: 1em;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
